*{margin: 0; padding: 0; box-sizing: border-box;}

.main-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}
.creator{
    color: #b1aeb7;
    font-size: 20px;
    text-decoration: none;
    overflow-wrap: anywhere;
}

.creator:hover{
    text-decoration: underline;
}

.title{
    color: gray;
    font-size: 35px;
    text-decoration: underline;
    overflow-wrap: anywhere;
}

