.content{
    width: 100%;
    display: flex;
    justify-content: center;
}

.content-carrusel{
    width: fit-content;
    height: fit-content;
    border: solid 1px rgb(182, 182, 182);
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    background-color: rgb(254, 254, 254);
}

.menu{
    width: 100px;
    height: 600px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
}

.card{
    width: 90px;
    height: 80px;
    border: solid 1px rgb(182, 182, 182);
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card:hover{
    border: solid 2px rgb(150, 150, 150);
    cursor: pointer;
}

.view{
    position: relative;
    max-width: 500px;
    max-height: 600px;
    width: 600px;
    border: solid 1px rgb(182, 182, 182); 
}

.flecha{
    background-color: transparent;
    border: none;
    position: absolute;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    stroke: #bababa;
}


.view:hover .flecha{
    visibility: visible;
    opacity: 1;
}

#left{
    top: 50%;
    transform: translateY(-50%);
}

#left:hover{
    stroke: rgb(145, 145, 145);
}

#right{
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

#right:hover{
    stroke: rgb(145, 145, 145);
}

.preview{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 644px) {
    .menu{
        display: none;
    }

    .content-carrusel{
        margin: 10px;
    }

    .view{
        width: 100%;
    }

}


